.error-container-div{
  display: none;
  margin-top: 1rem;
}

.error-container{
  display: flex;
  justify-content:center;
  align-items: center;
  border: 4px solid;
  font-weight: lighter;
  padding: 0.5rem;
  color: #FF0000;
}

.error-container i {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

/* Media Query 1024PX and aboove */
@media (min-width: 1024px) {
  .error-container-div{
    margin-top: 0rem;
    margin-bottom: 1rem;
  }
}