.error-container-div{
  display: none;
}

.error-container{
  display: flex;
  justify-content:center;
  align-items: center;
  border: 4px solid;
  font-weight: lighter;
  padding: 0.5em;
  color: #FF0000;
}

.error-container i {
  margin-left: 0.25em;
  margin-right: 0.25em;
}