.header-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
  background-color:darkgoldenrod;
  background-image: url('https://www.transparenttextures.com/patterns/asfalt-dark.png');
}

.header-main h2 {
  margin: 1rem;
}

.full-name{
  color: #FFFFFF;
}

#first-name {
  font-weight: bold;
}

#last-name {
  font-weight: lighter;
}

/* Media Query 1024PX and aboove */
@media (min-width: 1024px) {
  .header-main {
    width: 30%;
    margin-left: 5%;
    margin-top: 10rem;
  }
}

/* Media Query 767PX and below */
@media (max-width: 767px) {
  .header-main {
    height: 500px;
  }
}
