nav {
  display:flex;
  background-color: #4056a1;
  height: 120px;
  color: #FFFFFF;
  justify-content: space-between;
  width: 100%;
  position: fixed;
}

.nav-left{
  display:flex;
  align-items: flex-start;
  font-family: 'Bungee', sans-serif;
  margin: 1.5em;
}

nav .nav-left span{
  font-size: 50px;

}

.nav-right{
  display:flex;
  align-items: center;
  margin: 1.5em;
  flex-direction: column;
  justify-content: center;
}

.nav-right p {
  margin-bottom: 0.25em;
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: light;
}

.down-arrow{
  border: none;
  background: transparent;
  color: #FF0000;
}
