nav {
  display:flex;
  height: 0rem;
  color: #FFFFFF;
  justify-content: space-between;
  width: 100%;
}

.nav-left{
  display:flex;
  align-items: flex-start;
  font-family: 'Bungee', sans-serif;
  margin: 1.5em;
}

nav .nav-left span{
  font-size: 50px;
}

.nav-right{
  display:flex;
  align-items: center;
  margin: 1.5em;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.75em;
}

.nav-right p {
  margin-bottom: 0.25em;
}

.write {
  font-weight: bold;
}

.write-rest {
  font-weight: lighter;
}

#down-arrow{
  border: none;
  background: transparent;
  color: #FF0000;
}

#down-arrow:hover{
  color: #a09b0d;
}

/* Media Query 1024PX and aboove */
@media (min-width: 1024px) {
  nav {
    position: absolute;
    background-color: #4056a1;
    height: 7.5rem;
  }

  .nav-right{
    margin-top: 0em;
  }

}